{% if contexts %}
    <ul id="contexts" class="list-group">
        {% for context, count in contexts %}
            <li class="list-group-item {% if context in filters %}selected{% endif %} context-{{ context }} {% if context in contexts_filtered %}possible{% endif %}">
                <a href="/{{ todo_selected }}/{% if context not in filters %}filter/@{{ context }}{% endif %}"><span class="context" data-type="context" data-value="@{{ context }}">@{{ context }} <span class="badge pull-right">{{ count }}</span></span></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
