{% if projects %}
    <ul id="projects" class="list-group">
        {% for project, count in projects %}
            <li class="list-group-item {% if project in filters %}selected{% endif %} project-{{ project }} {% if project in projects_filtered %}possible{% endif %}"> 
                <a href="{{ BASE_PATH }}{{ todo_selected }}/{% if project not in filters %}filter/+{{ project }}{% endif %}"><span class="project" data-type="project" data-value="+{{ project }}">+{{ project }} <span class="badge pull-right">{{ count }}</span></span></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
